{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true
        },
        "transform": {
            "react": {
                "runtime": "automatic" // For the new JSX transform
            }
        }
    },
    "module": {
        "type": "commonjs" // Required for Jest to understand modules
    }
}
